################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMT/bin/Debug/net7.0
/.vs/CMT/FileContentIndex/0ad55276-b1eb-4405-8bfa-602743046ada.vsidx
/.vs/CMT/FileContentIndex/0ad55276-b1eb-4405-8bfa-602743046ada.vsidx
