################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CMT/bin/Debug/net7.0
/.vs/CMT/FileContentIndex/0ad55276-b1eb-4405-8bfa-602743046ada.vsidx
/.vs/CMT/FileContentIndex/0ad55276-b1eb-4405-8bfa-602743046ada.vsidx
/.vs/CMT/FileContentIndex/16c44998-bd23-4cdf-8f86-f0b9afbe61ee.vsidx
/CMT/obj/Debug/net7.0/ref
/CMTClass/bin/Debug/net7.0
/SegFormer/bin/Debug/net7.0
/SwinUnet/bin/Debug/net7.0
/SwinUnet/obj/Debug/net7.0/ref/SwinUnet.dll
/.vs/CMT/FileContentIndex/28b3ffd6-98e0-4c0d-a249-cd34404d0813.vsidx
/.vs/CMT/FileContentIndex/29b3f22b-c636-4822-abb4-425ab9f8139a.vsidx
/.vs/CMT/FileContentIndex/63378a7f-0080-46b9-a465-d4b0f1ec886b.vsidx
*.vsidx
/CMT/obj/Debug/net7.0/refint
/CMT/obj/Debug/net7.0/CMT.assets.cache
/CMT/obj/Debug/net7.0/CMT.csproj.AssemblyReference.cache
*.cache
/CMT/obj/Debug/net7.0/CMT.dll
/CMT/obj/Debug/net7.0/CMT.csproj.FileListAbsolute.txt
*.CopyComplete
*.dll
/CMTClass/obj/Debug/net7.0/CMTClass.assets.cache
